{
    http_port 8888
    https_port 8443
}

pds.localhost {
    reverse_proxy localhost:3002

    header_up Host {host}
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Proto {scheme}

    log {
        output file ./data/pds_access.log
        }
}